{% extends "base.html" %}
{% load static %}

{% block title %}Person - Kontrole by Arguo{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table-filter.css' %}">
{% endblock css %}

{% block content %}

<!-- Include head with active and find in template -->
{% with head_title="<i class='fa-solid fa-users'></i> Persons" %}
    {% include "includes/headactive.html" %}
{% endwith %}

<div class="col"></div>
<div class="col col-10">

    {% if object_list %}
    <table class="table table-hover table-responsive" style="z-index:999">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th style="display: none;">Nick Name</th>
                <th>TaxPayer Number</th>
                <th class="text-center">Contacts</th>
                <th>Relationship</th>
                <th class="text-center">Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td class="align-middle">{{ object.get_personType_display }}</td>
                <td class="align-middle">
                    <span
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-placement="right"
                        data-bs-original-title='
                        <div>
                            <b>Nickname:</b> {{ object.personNickName }}
                        </div>'
                    >
                    {{ object.personName }}
                    </span>
                    {% if user.hierarchy == 3 %}
                    {% else %}
                        {% if object.locked == False %}
                            <span style="display: none;">open</span>
                        {% else %}
                            <span style="display: none;">lock</span>
                            <i class="fa-solid fa-lock" style="color: #8c40d9;"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td style="display: none;">{{ object.personNickName }}</td>
                <td class="align-middle">{{ object.personTaxpayerRegistration }}</td>
                <td class="text-center align-middle">
                    {% if object.contacts.all|length == 0 %}
                        <span style="display: none;">without contact</span>
                        <i class="fa-regular fa-address-book text-secondary"></i>
                    {% else %}
                        <span style="display: none;">with contact</span>
                        <i class="fa-solid fa-address-book text-success"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if object.cperson.all|length == 0 and object.sperson.all|length == 0 %}
                    None
                    {% else %}
                        {% if object.sperson.all|length == 0 %}
                        <span style="display: none;">seller</span>
                        Customer
                        {% else %}
                            {% if object.cperson.all|length == 0 %}
                            Supplier
                            {% else %}
                            Supplier | Customer
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center align-middle">
                    {% if object.active is True %}
                        <span style="display: none;">active</span>
                        <i class="fa-solid fa-circle-check text-success"></i>
                    {% else %}
                        <span style="display: none;">inactive</span>
                        <i class="fa-solid fa-circle-xmark text-secondary"></i>
                    {% endif %}
                </td>
                <td class="text-center align-middle">
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa-solid fa-eye text-secondary"></i>
                    </a>
                    {% if user.hierarchy == 3 and object.locked == True %}
                        <a href="{% url 'persons:persons_edit' object.pk %}">
                            <span style="display: none;">lock</span>
                            <i class="fa-solid fa-lock" style="color: #8c40d9;"></i>
                        </a>
                    {% else %}
                    <a href="{% url 'persons:persons_edit' object.pk %}">
                        <span style="display: none;">open</span>
                        <i class="fa-solid fa-pen-to-square text-primary"></i>
                    </a>
                    <a onclick="return confirm('Are you sure you want to delete the Person *{{ object }}*?');" href="{% url 'persons:persons_delete' object.pk %}">
                        <i class="fa-solid fa-trash-can text-danger"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>            
            {% endfor %}
        </tbody>

    </table>

    {% else %}

        <p class="alert alert-warning">No data on this screen.</p>

    {% endif %}

</div>
<div class="col">
    <div style="bottom:30px; right:30px; position:fixed;">
        <div class="btn-group dropup position-relative float-end">
            <button type="button" class="btn btn-outline-primary btn-lg p-2 rounded-circle text-center" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-plus p-2"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item btn btn-secondary" href="{% url 'persons:persons_add' %}">
                        <i class="fa-solid fa-plus text-primary"></i> Person
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/table-filter.js' %}"></script>
{% endblock js %}