{% extends 'profbase.html' %}

{% block title %}Kontrole{% endblock title %}

{% block list_options%}

    <div class="col bg-secondary">
        <ul class="list-group list-group-horizontal justify-content-end">
            <li class="list-group-item">
            <a href="{% url 'chart_of_account:sintetic_new'%}">New Sintetic</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'chart_of_account:analitic_new'%}">New Analitic</a>
            </li>
        </ul>            
    </div>

{% endblock list_options %}

{% block body %}

<div class="col align-baseline">
    Chart of Accounts - Seja bem vindo
    {% regroup objects by typeaccount__typeaccount as account_list %}
    <ul >
        {% for c in account_list %}
        <li><span class="fw-bold">{{ c.grouper }}</span>
            {% regroup c.list by sintetic as sintetic_list %}
            <ul>
                {% for s in sintetic_list %}
                <li><span class="fw-normal">{{ s.grouper }}</span>
                         {% regroup s.list by id as id_list %}
                            {% for j in id_list %}       
                                <a href="/finance/chart_of_accounts/sintetic_update/{{ j.grouper }}"><i class="fas fa-edit text-primary"></i></a>
                                <a href="/finance/chart_of_accounts/sintetic_delete/{{ j.grouper }}"><i class="fas fa-trash-alt text-danger"></i></a>
                            {% endfor %} 
                    <ul>
                    {% for a in s.list %}
                        <li>
                        {% if a.analitic__analitic != None %} 
                            <span class="fw-light">{{ a.analitic__analitic }}</span>
                            <a href="/finance/chart_of_accounts/analitic_update/{{ a.analitic__id }}"><i class="fas fa-edit text-primary opacity-75"></i></a>
                            <a href="/finance/chart_of_accounts/analitic_delete/{{ a.analitic__id }}"><i class="fas fa-trash-alt text-danger opacity-75"></i></a>
                        {% else %}
                            <span class="fw-light">Cadastrar Conta ANALÍTICA</span>
                        {% endif %}


                        </li>
                    {% endfor %}
                    </ul> 
                </li>
                {% endfor %}
            </ul>

        </li>
        {% endfor %}
    </ul>
</div>




{% endblock body %}