{% extends 'profbase.html' %}

{% block title %}Kontrole{% endblock title %}

{% block list_options %}
    <div class="row">
        <div class="col bg-secondary">
            <ul class="list-group list-group-horizontal justify-content-end">
                <li class="list-group-item btn btn-light">
                <a href="">New</a>
                </li>
            </ul>            
        </div>
    </div>
{% endblock list_options %}

{% block body %}

    <h1>Conta Sintética - {{chart_of_accounts_sintetico.description}} </h1>
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>
    </form>

{% endblock body %}