{% load static %}
{% load fontawesome_6 %}
<head>
    {% fontawesome_6_static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <title>Login - Arguo</title>
</head>
<body>

    <div class="container pt-5">
        <div class="row">
            <div class="col col-md-3">
            </div>
            <div class="col col-md-6">
                <div class="p-5 mb-4 bg-body-Secondary rounded-3 text-center">
                    <h1 class="display-5 fw-bold"><img src={% static "images/black-logo.png" %} alt="logo" height="40"></h1>
        
                    <div class="container-fluid py-5 text-center">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>