{% load static %}
<div class="page-header bg-light pt-1 mb-2 d-flex justify-content-between">
    <div class="form-outline d-flex align-items-center">
        <h2 class="text-dark">{{ head_title }}</h2>
    </div>
    <div class="input-group pb-1" style="width: auto;">
        <div class="form-outline d-flex align-items-center">
            <input id="filterInput" type="search" class="form-control"/>
            <div class="search-input ms-2 text-secondary">
                <i id="searchIcon" class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
</div>