{% load static %}
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index"><img src={% static "images/white-logo.png" %} alt="logo" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Dashboard</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Persons
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'persons:persons_list' %}"><i class="fa-solid fa-users"></i> Registrations</a></li>
                        <li><a class="dropdown-item" href="{% url 'persons:seller_list' %}"><i class="fa-solid fa-user-tag"></i> Sellers</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'persons:paymentTerms' %}"><i class="fa-solid fa-money-check-dollar"></i> Payment Terms</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Reports</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Commercial
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Buys</a></li>
                        <li><a class="dropdown-item" href="#">Sells</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Stock</a></li>
                        <li><a class="dropdown-item" href="#">Transformation</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Products</a></li>
                        <li><a class="dropdown-item" href="#">Products Group</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Reports</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Finances
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Bills</a></li>
                        <li><a class="dropdown-item" href="#">Receivable</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Entrys</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'finances:chartOfAccounts' %}"><i class="fa-solid fa-list-ol"></i> Chart of Accounts</a></li>
                        <li><a class="dropdown-item" href="{% url 'finances:documentType_list' %}"><i class="fa-solid fa-paste"></i> Document Type</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Reports</a></li>
                    </ul>
                </li>
                {% if user.hierarchy == 1 or 2 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.hierarchy == 1 %}
                        <li><a class="dropdown-item" href="{% url 'company:companies' %}"><i class="fa-solid fa-building"></i> Companies</a></li>
                        <li><a class="dropdown-item" href="{% url 'user:users' %}"><i class="fa-solid fa-user-gear"></i> Users</a></li>
                        {% endif %}
                        {% if user.hierarchy == 2 %}
                        <li><a class="dropdown-item" href="{% url 'user:clientusers' %}"><i class="fa-solid fa-user-gear"></i> Users</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="d-flex navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }} | {{ user.company }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'user:useruser_edit' user.id %}"><i class="fa-solid fa-key"></i> Change Password</a></li>
                        {% if user.hierarchy == 2 %}
                        <li><a class="dropdown-item" href="{% url 'company:clientcompany_edit' user.company.id %}"><i class="fa-solid fa-building"></i> Company</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'user:logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>