{% extends "base.html" %}
{% load static %}

{% block title %}Sellers - Kontrole by Arguo{% endblock title %}

{% block content %}

    <div class="page-header bg-light pt-1 mb-2">
        <h2 class="text-dark float-start">
            <i class="fa-solid fa-user-tag"></i>
            {% if object %}
                Edit - Seller
                <br/>
                {{ object }}      
            {% else %}
                Add - Seller
            {% endif %}
        </h2>

    </div>

    <div class="col"></div>
    <div class="col col-10 col-md-6">
        <form method="POST" novalidate>
            {% csrf_token %}
                <div class="form-row">
                    <label>
                        <span class="required">Seller Nickname</span>
                    </label>
                    {{ form.sellerNickname }}
                    {% for error in form.sellerNickname.errors %}
                        <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>
                <br/>
                <div class="form-row">
                    <label>
                        <span class="required">Person</span>
                    </label>
                    {{ form.sellerPerson }}
                    {% for error in form.sellerPerson.errors %}
                        <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>
                {% if user.hierarchy == 3 %}
                {% else %}
                    <br/>
                    <div class="form-row align-center" style="display: flex;">
                        <span class="pe-2" >Locked:</span>
                        <div class="form-check form-switch">{{ form.locked }}</div>
                        {% for error in form.locked.errors %}
                            <br/>
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% if object %}
                        <br/>
                        <div class="form-row align-center" style="display: flex;">
                            <span class="pe-2" >Active:</span>
                            <div class="form-check form-switch">{{ form.active }}</div>
                            {% for error in form.active.errors %}
                                <br/>
                                <span style="color:red">{{ error }}</span>
                            {% endfor %}
                        </div>  
                       
                    {% endif %}
    
                {% endif %}
                <div class="row float-right">
                    <div class="col-sm-12" style="margin-top: 10px;">
                        <div class="form-inline buttons">
                            <button type="submit" class="btn btn-success"><i class="fa-regular fa-circle-check"></i> Save</button>
                            <span class="float-end">
                                <a href="{% url 'persons:seller_list' %}?active_only=on" class="btn btn-danger">
                                    <i class="fa-regular fa-circle-xmark"></i> Cancel
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="col"></div>


{% endblock content %}
