{% extends "base.html" %}

{% block title %}Payment Terms - Kontrole by Arguo{% endblock title %}

{% block content %}
<div class="page-header bg-light pt-1 mb-2">
    <h2 class="text-dark float-start">
        <i class="fa-solid fa-money-check-dollar"></i> Payment Terms - {{ object }}
    </h2>
    <span class="align-text-bottom float-end">
        <a class="btn btn-danger" href="{% url 'persons:paymentTerms' %}?active_only=on">
            <i class="fa-solid fa-rotate-left"></i> Return
        </a>
        <a class="btn btn-primary" href="{% url 'persons:paymentTerms_edit' object.pk %}">
            <i class="fas fa-edit"></i> Edit
        </a>
    </span>
</div>

<div class="row">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-end">Created by</th>
                <td class="text-start">{{ object.user_created }} on {{ object.date_created }}</td>
                <th class="text-end">Last Update by</th>
                <td class="text-start">{{ object.user_updated }} on {{ object.date_updated }}</td>               
            </tr>
        </tbody>
    </table>
</div>
<div class="row text-center">
    <div class="col"></div>
    <div class="col col-10 col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Days for Payment</th>
                    <th class="text-center">Payment Percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object.paymentterm.all %}
                    <tr>
                        <td class="text-center">{{ obj.paymentTermsDay }}</td>
                        <td class="text-center">{{ obj.paymentTermsPercentageInPercentage }}</td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col"></div>
</div>

{% endblock content %}