{% extends "base.html" %}
{% load static %}

{% block title %}Analitic Account - Kontrole by Arguo{% endblock title %}

{% block content %}

    <div class="page-header bg-light pt-1 mb-2">
        <h2 class="text-dark float-start">
            <i class="fa-solid fa-list-ol"></i>
            {% if object %}
                Edit Analitic Account
                <br/>
                {{ object.analiticName }}      
            {% else %}
                Add - Analitic Account
            {% endif %}
        </h2>

    </div>

    <div class="col"></div>
    <div class="col col-10 col-md-6">
        <form method="POST" novalidate>
            {% csrf_token %}
                <div class="form-row">
                    <label>
                        <span class="required">Account Type</span>
                    </label>
                    {{ form.sinteticAccounts }}
                    {% for error in form.sinteticAccounts.errors %}
                        <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="form-row">
                    <label>
                        <span class="required">Sintetic Account Description</span>
                    </label>
                    {{ form.analiticName }}
                    {% for error in form.analiticName.errors %}
                        <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="row float-right">
                    <div class="col-sm-12" style="margin-top: 10px;">
                        <div class="form-inline buttons">
                            <button type="submit" class="btn btn-success"><i class="fa-regular fa-circle-check"></i> Save</button>
                            <span class="float-end">
                                <a href="{% url 'finances:chartOfAccounts' %}" class="btn btn-danger">
                                    <i class="fa-regular fa-circle-xmark"></i> Cancel
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div class="col"></div>


{% endblock content %}
