{% extends "base.html" %}
{% load static %}

{% block title %}Chart Of Accounts - Kontrole by Arguo{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table-filter.css' %}">
{% endblock css %}

{% block content %}

<!-- Include head with active and find in template -->
{% with head_title="<i class='fa-solid fa-list-ol'></i> Chart Of Accounts" %}
    {% include "includes/headactive.html" %}
{% endwith %}

<div class="col"></div>
<div class="col col-10 col-lg-8">

    <table class="table table-hover table-responsive" style="z-index:999">
        <thead>
            <th>Accounts</th>
            <th class="text-center">Active</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
                {% for id, account in accountobject %}
                <tr class="accounts">
                    <td><b>{{ account }}</b></td>
                    <td class="text-center"><b>-</b></td>
                    <td></td>
                    <td class="text-center"><b>-</b></td>
                </tr>
                    {% for sintetic in sinteticobject %}
                        {% if sintetic.accountsType == id %}
                        <tr class="sintetics">
                            <td>
                                &nbsp;&nbsp;&nbsp;
                                {{ sintetic.sinteticName }}
                                <span style="display: None;">{{ account }}</span>
                                {% if user.hierarchy == 3 %}
                                {% else %}
                                    {% if sintetic.locked == False %}
                                        <span style="display: none;">open</span>
                                    {% else %}
                                        <span style="display: none;">lock</span>
                                        <i class="fa-solid fa-lock" style="color: #8c40d9;"></i>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="text-center">-</td>
                            <td></td>
                            <td class="text-end">
                                {% if user.hierarchy == 3 and sintetic.locked == True %}
                                    <a href="{% url 'finances:sintetic_edit' sintetic.pk %}">
                                        <span style="display: none;">lock</span>
                                        <i class="fa-solid fa-lock" style="color: #8c40d9;"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'finances:sintetic_edit' sintetic.pk %}">
                                        <span style="display: none;">open</span>
                                        <i class="fa-solid fa-pen-to-square text-primary"></i>
                                    </a>
                                    <a onclick="return confirm('Are you sure you want to delete the account *{{ sintetic.sinteticName }}*?');" href="{% url 'finances:sintetic_delete' sintetic.pk %}"><i class="fa-solid fa-trash-can text-danger"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                            {% for analitic in analiticobject %}
                                {% if analitic.sinteticAccounts == sintetic %}
                                <tr>
                                    <td class="fst-italic">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{ analitic.analiticName }}
                                        <span style="display: None;">{{ sintetic }}</span>
                                        {% if user.hierarchy == 3 %}
                                        {% else %}
                                            {% if analitic.locked == False %}
                                                <span style="display: none;">open</span>
                                            {% else %}
                                                <span style="display: none;">lock</span>
                                                <i class="fa-solid fa-lock" style="color: #8c40d9;"></i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if analitic.active is True %}
                                            <span style="display: none;">active</span>
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                        {% else %}
                                            <span style="display: none;">inactive</span>
                                            <i class="fa-solid fa-circle-xmark text-secondary"></i>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td class="text-start">
                                        {% if user.hierarchy == 3 and analitic.locked == True %}
                                            <a href="{% url 'finances:analitic_edit' analitic.pk %}">
                                                <span style="display: none;">lock</span>
                                                <i class="fa-solid fa-lock" style="color: #b97cf7;"></i>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'finances:analitic_edit' analitic.pk %}">
                                                <span style="display: none;">open</span>
                                                <i class="fa-regular fa-pen-to-square text-primary"></i>
                                            </a>
                                            <a onclick="return confirm('Are you sure you want to delete the account *{{ analitic.analiticName }}*?');" href="{% url 'finances:analitic_delete' analitic.pk %}"><i class="fa-regular fa-trash-can text-danger"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tbody>
    </table>

</div>
<div class="col">
    <div style="bottom:30px; right:30px; position:fixed;">
        <div class="btn-group dropup position-relative float-end">
            <button type="button" class="btn btn-outline-primary btn-lg p-2 rounded-circle text-center" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-plus p-2"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item btn btn-secondary" href="{% url 'finances:sintetic_add' %}">
                        <i class="fa-solid fa-plus text-primary"></i> Sintetic Account
                    </a>
                </li>
                <li>
                    <a class="dropdown-item btn btn-secondary" href="{% url 'finances:analitic_add' %}">
                        <i class="fa-solid fa-plus text-primary"></i> Analitic Account
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/table-filter.js' %}"></script>
{% endblock js %}