{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>


<!-- O cabeçalho do nosso site -->
    <div id="header" class="container">    
        <div class="row">
            <div class="col bg-success text-start">
                <a href=" {% url 'dashboard:dashboard' %}">Logo</a>
            </div>
            <div class="col bg-success text-end">
                Olá 
                <a href=" {% url 'accounts:profile' %}">
                    {% if user.name %}
                        {{user.name}}
                    {% else %}
                        {{user.email}}
                    {% endif %}
                </a>
                  - 
                {% if user.company %}
                    <a href="{% url 'company:edit_company' %}">{{user.company}}</a>
                {% else %}
                    <a href="{% url 'company:new_company' %}">Adicione uma empresa aqui</a>
                {% endif %}
                  | <a href=" {% url 'accounts:logout' %}">Logout</a>
            </div>
        </div>
    </div>

<!-- O menu do nosso site -->
    <div id="menu" class="container">    
        <div class="row">
            <div class="col bg-danger text-start">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                    <a href="{% url 'dashboard:dashboard' %}">Dasboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'persons:persons' %}">Persons</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- Conteúdo do nosso site, esse será definido nas páginas específicas -->
    <div id="content" class="container">    
        {% block list_options %} {% endblock list_options %}
        {% block body %} {% endblock body %}
    </div>

<!-- Rodapé do nosso site -->
    <div id="footer" class="container">    
        <div class="row">
            <div class="col bg-success text-center">
                <p>&copy 2023 - Kontrole</p>
            </div>
        </div>
    </div>



</body>
</html>