{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    <title>{% block title %} {% endblock title %}</title>

</head>
<body>


<!-- O cabeçalho do nosso site -->
    <div id="header" class="container">    
        <div class="row">
            <div class="col bg-success text-start">
                <a href=" {% url 'dashboard:dashboard' %}">Logo</a>
            </div>
            <div class="col bg-success text-end">
                Olá 
                <a href=" {% url 'accounts:profile' %}">
                    {% if user.name %}
                        {{user.name}}
                    {% else %}
                        {{user.email}}
                    {% endif %}
                </a>
                  - 
                {% if user.company %}
                    <a href="{% url 'company:edit_company' %}">{{user.company}}</a>
                {% else %}
                    <a href="{% url 'company:new_company' %}">Adicione uma empresa aqui</a>
                {% endif %}
                  | <a href=" {% url 'accounts:logout' %}">Logout</a>
            </div>
        </div>
    </div>

<!-- O menu do nosso site -->
    <div id="menu" class="container">    
        <div class="row">
            <div class="col bg-danger text-start">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                    <a href="{% url 'dashboard:dashboard' %}">Dasboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'persons:persons' %}">Persons</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'chart_of_account:chart_of_account' %}">Chart of Accounts</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'document_type:document_type' %}">Document Type</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- Conteiner central do body -->
    <div id="content" class="container">
        <!-- Menu interno de cada página -->    
        <div class="container">
            <div class="row">
                {% block list_options %} {% endblock list_options %}
            </div>
        </div>

        <!-- Pop-up de Mensagens e avisos -->
        <div class="container w-25 float-end">
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                        <div id="message_container" class="alert alert-{{ message.tags }} border-0 p-1 m-2 shadow fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- Conteúdo do nosso site, esse será definido nas páginas específicas -->       
        <div class="container">
            <div class="row">
                {% block body %} {% endblock body %}
            </div>
        </div>
        
        <br/>
    </div>

<!-- Rodapé do nosso site -->
    <div id="footer" class="container ">    
        <div class="row">
            <div class="bg-success text-center">
                <p>&copy 2023 - Kontrole</p>
            </div>
        </div>
    </div>

<!-- Script para sumir com o pop-up de mensagens em 3 segundos -->
<script>
    var message_ele = document.getElementById("message_container");

    setTimeout(function(){ 
        message_ele.style.display = "none"; 
    }, 3000);
</script>

</body>
</html>