{% extends "base.html" %}
{% load static %}

{% block title %}Entrys - Kontrole by Arguo{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/table-filter.css' %}">
{% endblock css %}

{% block content %}

<!-- Include head find in template -->
{% with head_title="<i class='fa-solid fa-money-bill-transfer'></i> Entrys" %}
    {% include "includes/head.html" %}
{% endwith %}

<div class="col"></div>
<div class="col col-10">

    {% if object_list %}
    <table class="table table-hover table-responsive" style="z-index:999">
        <thead>
            <tr>
                <th>Document</th>
                <th>Date</th>
                <th>Id Fin.</th>
                <th>Id Com.</th>
                <th class="text-center">Value</th>
                <th style="display: none;">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    <span
                        data-bs-toggle="tooltip"
                        data-bs-html="true"
                        data-bs-placement="right"
                        data-bs-original-title='
                        <div>
                            <b>Description:</b> {{ object.entryDescription }}
                        </div>'
                    >
                        {{ object.entryDocumentType }}: {{ object.entryNumDocument }}
                    </span>
                </td>
                <td>{{ object.date | date:"d/m/Y" }}</td>
                <td></td>
                <td></td>
                <td class="text-center">{{ object.entryTotalValue }}</td>
                <td style="display: none;">{{ object.entryDescription }}</td>
                <td class="text-center align-middle">
                    <a href="{{ object.get_absolute_url }}">
                        <i class="fa-solid fa-eye text-secondary"></i>
                    </a>
                    {% if user.company.auditDate is none or object.date > user.company.auditDate %}
                        <span style="display: none;">unaudit open</span>
                        <a href="{% url 'finances:entrys_edit' object.pk %}"><i class="fa-solid fa-pen-to-square text-primary"></i></a>
                        <a onclick="return confirm('Are you sure you want to delete the Document *{{ object.entryDocumentType }}: {{ object.entryNumDocument }}*?');" href="{% url 'finances:entrys_delete' object.pk %}"><i class="fa-solid fa-trash-can text-danger"></i></a>
                    {% else %}
                        <span style="display: none;">audited lock</span>
                        <a href="{% url 'finances:entrys_edit' object.pk %}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title='Audited'>
                            <i class="fa-solid fa-lock" style="color: #8c40d9;"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>            
            {% endfor %}
        </tbody>

    </table>

    {% else %}

        <p class="alert alert-warning">No data on this screen.</p>

    {% endif %}

</div>
<div class="col">
    <div style="bottom:30px; right:30px; position:fixed;">
        <div class="btn-group dropup position-relative float-end">
            <button type="button" class="btn btn-outline-primary btn-lg p-2 rounded-circle text-center" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-plus p-2"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item btn btn-secondary" href="{% url 'finances:entrys_add' %}">
                        <i class="fa-solid fa-plus text-primary"></i> Entry
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}

<script src="{% static 'js/table-filter.js' %}"></script>

{% endblock js %}